<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/simple.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        {% block header %}
        {% endblock %}
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        <p>Bad-Auslastung.de made by <a href="https://github.com/syxolk/">Hans</a></p>
        <p>
            Created: {{ created_at }}
        </p>
    </footer>
</body>
</html>
